.container-change-alert {
    background: rgba(32, 35, 41, 0.5);
    position: fixed;
    padding-top: 3em;
    top:0;
    left: 0px;
    right: 0px;
    bottom: 0px;

  font-family: 'Roboto', sans-serif;
}


.container-change-message-alert {
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em 1em 1.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}


.container-change-message-alert  button{
    padding: 0.7em 1.6em 0.7em 1.6em;
    border-radius: 10px;
    background-color: #3C86E1;
    color: white;
    font-size: 0.9em;
    border: 0;
    max-width: 9em;
}