.itemList {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.itemList label {
  width: 100%;
  padding-left: 1em;
}

.itemList .itemCheck {
  border-radius: 10em;
  font-size: 0.7em;
  font-weight: bold;
  text-align: center;
}

.itemList .openItem {
  border: 4px solid #5fb6dd;
  padding: 1em;
  color: rgb(121, 218, 52);
  max-width: 0.5em;
  max-height: 0.5em;
  min-width: 0.5em;
  min-height: 0.5em;
}

.itemList .doneItem {
  border: 4px solid rgb(165, 165, 165);
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1em;
  color: rgb(165, 165, 165);
  max-width: 0.5em;
  max-height: 0.5em;
  min-width: 0.5em;
  min-height: 0.5em;
}

.itemList .doneItemText {
  text-decoration: line-through;
  color: rgb(165, 165, 165);
}

.openItemList {
  background-color: white;
}

.doneItemList {
  background-color: rgb(238, 238, 238);
}

.deleteItem {
    box-shadow: 2px 2px 2px #ccc;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(238, 238, 238);
  padding: 0.5em 0.8em 0.5em 0.8em;
  position: absolute;
  border: 0;
  right: -14px;
  top: 18px;
}
