.container-list-items {
  display: flex;
  position: relative;
  overflow-x: hidden;
  height: 100%;
  padding:0em 1em 1em 0;
  justify-content:space-between;
}

ul {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  width: 98%;

}

ul li {
  padding: 1em 0.8em;
  margin-bottom: 1em;
  box-shadow: 1px 1px 6px #ccc;
  border-radius: 10px;
  background-color: white;
}

