ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    padding: 1em 0.8em;
    margin-bottom: 1em;
    box-shadow: 1px 1px 6px #ccc;
    border-radius: 10px;
    background-color: white;
}